---
import Javascript from "./icons/Javascript.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import Github from "./icons/Github.astro";
import LinkButton from "./icons/LinkButton.astro";
import Link from "./Link.astro";

const TAGS = {
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-gray-800 dark:text-yellow-300 border border-yellow-300",
        icon: Javascript,
    },
    HTML: {
        name: "HTML",
        class: "bg-gray-800 dark:text-red-400 border border-red-400",
        icon: HTML,
    },
    CSS: {
        name: "CSS",
        class: "bg-gray-800 text-blue-400 border border-blue-400",
        icon: CSS,
    },
    TAILWIND: {},
    REACT: {},
};
const PROJECTS = [
    {
        title: "Project 1",
        description:
            "Desarrollador web, con experiencia en desarrollo t. Vel voluptate obcaecati minima, sed fugit eius dolor voluptas eum id unde culpa, labore quo, iste harum dolorem quos dignissimos suscipit deleniti.12",
        link: "https://pipetoroc.github.io/miralo-tv/",
        github: "https://github.com/pipetoroc/miralo-tv",
        image: "public/miralo-tv.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
    },
    {
        title: "Project 2",
        description:
            "Desarrollador web, Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate obcaecati minima, sed fugit eius dolor voluptas eum id unde culpa, labore quo, iste harum dolorem quos dignissimos suscipit deleniti.12",
        link: "https://pipetoroc.github.io/miralo-tv/",
        github: "https://github.com/pipetoroc/miralo-tv",
        image: "public/miralo-tv.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
    },
    {
        title: "Project 3",
        description:
            "Desarrollador web, Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate obcaecati minima, sed fugit eius dolor voluptas eum id unde culpa, labore quo, iste harum dolorem quos dignissimos suscipit deleniti.12",
        link: "https://pipetoroc.github.io/miralo-tv/",
        github: "https://github.com/pipetoroc/miralo-tv",
        image: "public/miralo-tv.webp",
        tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ title, description, link, github, tags, image }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <figure class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt=""
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </figure>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-dark-color text-2l font-bold mb-2">
                        {title}
                    </h3>

                    <div class="flex flex-wrap mt-2">
                        <ul class="flex gap-x-4 flex-row">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2`}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>
                        <p class="mt-2 text-dark-color">{description}</p>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <Github class="size-6" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <Link class="size-4" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
